@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/Proxima Nova Black Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/Proxima Nova Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/Proxima Nova Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/Proxima Nova Black Italic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima Nova Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed Black';
    src: url('fonts/Proxima Nova Condensed Black Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed Black';
    src: url('fonts/Proxima Nova Condensed Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed Bold';
    src: url('fonts/Proxima Nova Condensed Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed Bold';
    src: url('fonts/Proxima Nova Condensed Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed Extrabold';
    src: url('fonts/Proxima Nova Condensed Extrabold Italic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed Extrabold';
    src: url('fonts/Proxima Nova Condensed Extrabold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed Light';
    src: url('fonts/Proxima Nova Condensed Light Italic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Light.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Regular Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Semibold Italic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Thin Italic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('fonts/Proxima Nova Condensed Thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Black Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Extrabold Italic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Extrabold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Light Italic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Light.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Regular Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Semibold Italic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Thin Italic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('fonts/Proxima Nova Extra Condensed Thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima Nova Extrabold Italic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima Nova Extrabold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima Nova Light Italic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('fonts/Proxima Nova Light.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima Nova Extrabold Italic.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima Nova Bold.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Thin';
    src: url('fonts/Raleway-Thin.ttf'),
    url('fonts/Raleway-Thin.woff'),
    url('fonts/Raleway-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/Raleway-Bold.ttf'),
    url('fonts/Raleway-Bold.woff'),
    url('fonts/Raleway-Bold.woff2');
    font-weight: 500;
    font-style: normal;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
body{
    background: #fbfbfb;
}
input:focus{
    outline:none;
}
input {outline:none;}
.call{
    width: 130px;
}
.call-2{
    width: 280px;
}
.left-block{
    /*margin-top: 62px;*/
}
.row{
    display: table-row;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.clearfix{
    position: relative;
}
.clearfix:after{
    position: absolute;
    content: '';
    display: table;
    width: 100%;
    height: 10px;
}
.center{
    margin: auto;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.ma{
    margin: auto;
}
.nav{
    background-color: #fff;
    padding-bottom: 20px;
    position: relative;
}
.nav_wrapper{
    border-bottom: 1px solid #dedede;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(241,241,241,1);
    box-shadow: 0px 5px 5px 0px rgba(241,241,241,1);
}
.burger{
    width: 27px;
    top: 44px;
    right: 20px;
    position: relative;
    background: #660080;
    height: 5px;
    z-index: 2;
}
.burger-drop{
    display: none;
    position: absolute;
    width: 300px;
    background: #fff;
    left: -8px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
    box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
}

.burger:before{
    content: '';
    width: 27px;
    background: #660080;
    height: 5px;
    position: absolute;
    top: 8px;
}
.burger:after{
    content: '';
    width: 27px;
    background: #660080;
    height: 5px;
    position: absolute;
    bottom: 8px;
}
.nav__mobile{
    background: #fff;
}
.nav__link{
    color: #660080;
    font-size: 17px;
    margin-left: 32px;
    margin-right: 69px;
    font-family: 'Proxima Nova Condensed';
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

}
.nav__link:hover{
    border-bottom: 2px solid #660080;
}
.active-drop{
    border-bottom: 2px solid #660080;
}
.nav-links{
    padding: 38px 115px 33px 0;
    flex-direction: column;
}
.nav_logo{
    margin-top: 29px;
    margin-left: 29px;
    height: 36px;
}
.nav__question{
    width: 128px;
    padding-bottom: 27px;
    color: #08a1c7;
    padding-top: 135px;
    margin-left: 28px;
    font-family: 'Proxima Nova Light';
}
.invest__img{
    width: 32px;
    height: 32px;
}
.nav__question img{
    display: inline-block;
    width: 16px;
    height: 18px;
}
@media screen and (max-width: 1200px){
    .nav__question{
        margin-top: -31px;
        margin-right: 40px;
    }
}
.device-btn__wrap{
    margin-top: 27px;
}
.device-btn__wrap span{
    align-items: initial;
    margin: 19px -5px 0 20px;
    color: #ccc;
}
.main__bg{
    background-color: #fff;
}
.img-mobile{
    height: 290px;
    overflow: hidden;
}
.device{
    flex-wrap: wrap;
}
.device-title{
    margin-top: 0;
    margin-top: 29px;
    font-family: 'Raleway-Thin';
    font-weight: 100;
    font-size: 28px;
}
.device-title b{
    font-family: 'Raleway-Bold';
}
.device-content{
    transform: scale(0.9);
}
.device-text{
    font-family: 'Raleway-Thin';
    font-weight: 100;
    font-size: 17px;
}
.device-text b{
    font-family: 'Raleway-Bold';
}
.nav_logo-img{
    width: 36px;
    height: 36px;
}
.nav_logo-text{
    font-family: 'Raleway-Thin';
    font-size: 23px;
    position: relative;
    left: 43px;
    top: -35px;
}
.text-center{
    text-align: center;
}
.more-link{
    color: #fff;
    line-height: 2.7em;
    font-family: 'Proxima Nova Light';
    font-size: 14px;
}
.more-btn-img{
    position: relative;
    top: 4px;
    left: -6px;
    width: 20px;
    height: 20px;
}
.nav_logo-text span{
    font-family: 'Raleway-Bold';
}
.device-btn{
    background: #660080;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
}
.device-btn a{
    color: #ffffff;
    padding-left: 20px;
    font-family: 'Proxima Nova Light';
}
.device-btn img{
    display: inline-block;
    position: relative;

    top: 3px;
    height: 16px;
}
.device-btn-more{
    display: inline-table;
    padding: 19px 32px 10px 20px;
}
.device-btn-more a{
    color: #660080;;
    padding-left: 5px;
    font-family: 'Proxima Nova Light';
}
.left-block__title{
    font-family: 'Raleway-Bold';
    font-size: 17px;
    margin-bottom: 7px;
    margin-top: 27px;
}
.device-btn-more img{
    display: inline-block;
    position: relative;
    top: 2px;
    height: 16px;
}
.mail-icon{
    height: 12px;
    width: 16px;
    margin-left: 4px;
}
.fr{
    float: right;
}
.main__content__title{
    margin: 32px 0 0px 0;
    font-family: 'Raleway-Thin';
    font-weight: 100;
    font-size: 28px;
}
.content-question{
    align-items: center;
    margin-top: 24px;
    margin-bottom: 27px;
}
.left-block__title span{
    color: #08a1c7;
}
.flex-block__bottom{
    /*margin-top: 61px;*/
    /*margin-bottom: 117px;*/
}
.flex-block__bottom-text{
    font-size: 14px;
    color: #a6a6a6;
    font-family: 'Proxima Nova Light';
    margin-bottom: 27px;
}
.flex-block__bottom-text span{
    color: #000;
    font-family: 'Proxima Nova Bold';
}
.left-block__text{
    font-family: 'Proxima Nova Light';
    font-size: 14px;
}
.connect-wrap{
    background: #660080;
    background-image: url('img/bg-connect--mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.connect-wrap-blue{
    background: #660080;
    background-image: url('img/blue-connect--mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.connect__title{
    padding-top: 32px;
    font-family: 'Raleway-Thin';
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    font-weight: 100;
}
.connect__text span{
    font-family: 'Raleway-Bold';
}

.connect__text{
    font-family: 'Raleway-Thin';
    color: #fff;
    font-size: 14px;
}
.connect__form{
    margin-top: 55px;
}
.pink input[type="email"],
.pink input[type="password"]{
    color: #c98fd8;
    font-size: 14px;
    font-weight: 100;
}
.connect__form-email,
.connect__form-psw
{
    padding: 10px 0 14px 0;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: #b4e1ec;
    font-size: 14px;
    font-weight: 100;
}
.pink input[type="email"]::placeholder,
.pink input[type="password"]::placeholder{
    color: #c98fd8;
    font-size: 14px;
    font-weight: 100;
}
.connect__form-email::placeholder,
.connect__form-psw::placeholder{
    color: #b4e1ec;
    font-size: 14px;
    font-weight: 100;
}
.connect__form-btn{
    border: 1px solid #fff;
    padding: 10px 0 10px 33px;
    background: none;
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 106px;
}
.btn-img{
    position: relative;
    bottom: 132px;
    left: 63px;
    height: 15px;
}
.invest{
    padding-top: 27px;
    padding-bottom: 27px;
}
.invest-wrap{
    background: #fff;
    -webkit-box-shadow: 0px 10px 17px -5px rgba(229,229,229,1);
    -moz-box-shadow: 0px 10px 17px -5px rgba(229,229,229,1);
    box-shadow: 0px 10px 17px -5px rgba(229,229,229,1);
}
.invest-ing-img{
    width: 16px;
    height: 16px;
    margin-left: 20px;
}
.invest__title-main{
    font-family: 'Raleway-Thin';
    font-size: 28px;
    font-weight: 100;
}
.flex-invest{
    display: flex;
}
.invest-text-block{
    padding-left: 20px;
}
.invest__title{
    font-size: 17px;
    font-family: 'Raleway-Bold';
    font-weight: 600;
    margin: 0;

}
.invest__content-item{
    /*text-align: center;*/
}
.invest__flex-content{
    margin-top: 27px;
}
.invest__text{
    font-family: 'Proxima Nova Light';
    color: #a6a6a6;
    line-height: 1.5em;
}
.flex-block__bottom-subtitle{
    font-family: 'Proxima Nova Light';
    font-size: 17px;
}
.kard{
    padding-top: 27px;
}
.kard-block{
    background: #fff;
    margin-top: 20px;
    position: relative;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(248,248,248,1),
    0px 4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(248,248,248,1),
    0px 4px 5px 0px rgba(241,241,241,1);
    box-shadow: 0px -4px 5px 0px rgba(248,248,248,1),
    0px 4px 5px 0px rgba(241,241,241,1);
    border-top: 1px solid #e1e1e1;
    top: -168px;
}

.kard-block__title{
    font-family: 'Raleway-Bold';
    font-size: 17px;
    padding-top: 32px;

}
.kard-wrapper{
    width: 280px;
}
.kard-graph-wrap{
    width: 720px;
}
.flex-content{
    display: flex;
}
.kard-block__img{
    margin-top: 28px;
    width: 281px;
}
.control_next{
    width: 7px;
    height: 12px;
    position: relative;
    left: 273px;
    top: -49px;
}
.slider{
    overflow: hidden;
}
.kard-block__text{
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    margin-top: 49px;
}
.no-margin{
    margin-top: -27px;
}
.more-btn{
    width: 130px;
    position: relative;
    top: -153px;
    left: 50%;
    background: #660080;
    text-align: center;
}
.kard-main_title{
    font-family: 'Raleway-Thin';
    font-size: 28px;
    font-weight: 100;
    padding-top: 27px;
}
.kard-block-tab,
.kard-block__link{
    color: #a6a6a6;
    font-size: 14px;
}
.kard-block-tab{
    padding: 4px 12px 4px 12px;
    font-family: 'Proxima Nova Light';
}
.tap-container{
    padding-bottom: 30px;
}
.active-links{
    background: #660080;
    color: #fff;
}
.kard-block__link{
    border-bottom: 2px solid transparent;
    font-family: 'Proxima Nova Light';
}
.active{
    color: #660080;
    border-bottom: 2px solid #660080;
}
.kard-name-links{
    margin: 13px 0 22px 0;
    padding: 13px 0 6px 0;
    margin-left: -11px;
}
.title-block__item--grey{
    color: #a6a6a6;
    font-family: 'Proxima Nova Light';
    font-size: 14px;
}
.title-block__item{
    margin-left: 4px;
    color: #660080;
    font-family: 'Proxima Nova Light';
    font-size: 14px;
}
.item__text{
    font-family: 'Proxima Nova Light';
    color: #a6a6a6;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /*line-height: 2em;*/
}
.item__text a{
    color: #08a1c7;
}
.items{
    margin-top: -145px;
}
.item__title {
    margin-top: 20px;
    font-family: 'Raleway-Bold';
    font-size: 17px;
}
.item{
    background: #fff;
    -webkit-box-shadow: 0 0 21px -2px rgba(204,204,204,1);
    -moz-box-shadow: 0 0 21px -2px rgba(204,204,204,1);
    box-shadow: 0 0 21px -2px rgba(204,204,204,1);
}
.item__img{
    margin-top: 30px;
    width: 32px;
}
.item__wrapper{
    width: 270px;
}
.info-img{
    height: 20px;
    margin-top: 23px;
}
.info-header{
    display: flex;
}
.info{
    flex-wrap: wrap;
}
.info__title{
    margin-left: 8px;
    font-size: 17px;
    margin-top: 26px;
    margin-bottom: 0;
}
.info__content{
    margin-bottom: 20px;
}
.command{
    background: #fff;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
    box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
}
.command-subtitle-img{
    width: 16px;
    height: 16px;
}
.command__title{
    padding-top: 30px;
    font-family: 'Raleway-Thin';
    font-size: 28px;
    font-weight: 100;
}
.command__slider{
    margin-top: 72px;
}
.command__name{
    margin-top: 18px;
    color: #660080;
    font-size: 17px;
    font-family: 'Proxima Nova Light';
}
.command__personal{
    margin-top: 18px;
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Proxima Nova Light';
}
.img{
    width: 120px;
}
.img-1{
    background: url('img/1.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.img-2{
    background: url('img/2.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.img-3{
    background: url('img/3.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.img-4{
    background: url('img/4.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.img-5{
    background: url('img/5.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.img-6{
    background: url('img/6.png') no-repeat center 15px;;
    /*width: 220px;*/
}
.expert{
    background: #fff;
    margin-top: -20px;
}
.command-subtitle-img{
    width: 16px;
    height: 16px;
}
.command__item{
    width: 80px;
    height: 80px;
}
.command-subheader{
    /*padding-top: 76px;*/
}
.command__subtitle{
    font-size: 17px;
    font-family: Raleway-Bold;
    margin-top: 8px;
}
.command__images{
    padding-top: 17px;
    padding-bottom: 20px;
}
.calc-bg{
    height: 272px;
    background: url('img/bg-sub.png');
    width: 1191px !important;
}
article{
    width: 180px;
    position: relative;
    top: 120px;
    left: 22px;
}
.slide{
    width: 220px !important;
    height: 240px !important;
}
.btn-ar{
    position: relative;
}

.slick-next{
    left: 240px;
    bottom: 199px;
}
.slick-prev{
    bottom: -107px;
    left: 10px;
    position: relative;
    z-index: 20;
}
.command__slider{
    margin: auto;
    height: 306px;
}
.slide span{
    position: relative;
    top: -3px;
    right: -61px;
    font-family: Proxima Nova Bold;
    font-size: 14px;
}
.slick-slider{
    top: -42px !important;
}
.slick-list{
    padding: 0 !important;
}
.draggable{
    padding: 0 !important;
}
.main__content{
    overflow: hidden;
}
.main__content-right{
    margin-top: 27px;
}
.main__content-left{
    margin: auto;
}
.bg{
    background: #fff;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
    box-shadow: 0px -4px 5px 0px rgba(241,241,241,1);
}
.calc__title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    font-family: 'Raleway-Thin';
    font-size: 28px;
    font-weight: 100;
}
.calc__item{
    background: #fff;
}
.calc__sum{
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Proxima Nova Light';
    font-weight: 100;
}
.calc__desc{
    color: #a6a6a6;
    padding-top: 15px;
    font-size: 14px;
    font-family: 'Proxima Nova Light';
}
.pb{
    padding: 30px 30px 0 0 !important;
}
.pb .calc__sum,
.pb b{
    padding-left: 30px;
}
.calc-wrap{
    width: 262px;
    padding: 30px;
}
input[type=range]
{
    -webkit-appearance: none;
    background-color: #777;
    height: 2px;
    width: 222px;
    margin-top: 37px;
}
input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: #08a1c7;
    /*border: 1px solid #888;*/
    /*opacity: 1.0;*/
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    -webkit-box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
    -moz-box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
    box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
}

input[type=range]:focus
{
    outline:none;
}
.footer__title{
    font-family: 'Proxima Nova Light';
    font-size: 17px;
}
.footer__desc{
    font-size: 13px;
    font-family: 'Proxima Nova Light';
    font-weight: 100;
    color: #a6a6a6;
    margin-top: 25px;
    text-align: left;
}
.footer{
    padding-top: 31px;
}
.footer__logo{
    margin-top: 17px;
    margin-bottom: 30px;
    width: 36px;
    height: 36px;
}
.calc-main__header{
    margin-bottom: 30px;
}
.decor{
    border-top: 1px solid #e1e1e1;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(248,248,248,1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(248,248,248,1);
    box-shadow: 0px -4px 5px 0px rgba(248,248,248,1);
}
.calcs{
    -webkit-box-shadow: 0px -5px 5px 0px rgba(241,241,241,1),
    5px 0px 5px 0px rgba(241,241,241,1),
    -5px 0px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: 0px -5px 5px 0px rgba(241,241,241,1),
    5px 0px 5px 0px rgba(241,241,241,1),
    -5px 0px 5px 0px rgba(241,241,241,1);
    box-shadow: 0px -5px 5px 0px rgba(241,241,241,1),
    5px 0px 5px 0px rgba(241,241,241,1),
    -5px 0px 5px 0px rgba(241,241,241,1);
}
.sum-wrap p{
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Proxima Nova Light';
}
.flex-calc{
    width: 222px;
}
.open{
    border: none;
    padding: 15px 0 15px 17px;
    background: #660080;
    color: #fff;
    margin-top: 28px;
}
.btn-open{
    position: relative;
    bottom: -62px;
    left: 18px;
    height: 15px;
}
.calc-wrap span{
    color: #08a1c7;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Proxima Nova Bold';
}
.calc-wrap p{
    color: #a6a6a6;
    font-size: 14px;
    /*line-height: 2.5em;*/
    font-weight: 100;
    font-family: 'Proxima Nova Light';
}
.transparent{
    text-indent: -99999999999px;
}
input[type="submit"]{
    cursor: pointer;
}
.info__text{
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    margin-top: 20px;
}
/*@media (max-width: 320px) {*/
/*.nav-links,*/
/*.nav__question{*/
/*display: none;*/
/*}*/
/*}*/