@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../../fonts/Proxima Nova Light.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/Proxima Nova Extrabold Italic.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../../fonts/Proxima Nova Bold.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Thin';
    src: url('../../fonts/Raleway-Thin.ttf'),
    url('../../fonts/Raleway-Thin.woff'),
    url('../../fonts/Raleway-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../fonts/Raleway-Bold.ttf'),
    url('../../fonts/Raleway-Bold.woff'),
    url('../../fonts/Raleway-Bold.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../../fonts/Raleway-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-ExtraLight";
    src: url("../../fonts/Raleway-ExtraLight.ttf");
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
span, p, h1, h2, h3, h4, h5{
    margin-top: 0;
    margin-bottom: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    position: relative;
}
.clearfix:after{
    position: absolute;
    content: '';
    display: table;
    width: 100%;
    height: 5px;
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.ma{
    margin: auto;
}
.center{
    text-align: center;
}
.call{
    width: 300px;
}
.call-2{
    width: 700px;
}
.column{
    width: 340px;
}
.wrapper{
    width: 1060px;
    margin: auto;
}
.top-wrapper{
    background: #fff;
    border-top: 1px solid #dddddd;
    -webkit-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
}
.top-images{
    width: 220px;
}
.top-images img{
    width: 36px;
    height: 36px;

}
.bottom-images img{
    width: 36px;
    height: 36px;

}
.top__logo{
    margin-top: 29px;
}
.top__links{
    width: 486px;
}
.top__link-nav a{
    color: #000;
    font-family: "Proxima Nova Light";
    font-size: 17px;
    margin-left: 10px;
}
.top__link-nav a:hover{
    color: #08a1c7;
}
.top__links img{
    width: 16px;
    height: 16px;
}
.top-left{
    margin-left: 28px;
    align-items: center;
    width: 657px;
}
.top__logo-img{
    width: 36px;
    height: 36px;
}
.top__logo-text{
    font-family: 'Raleway-Light';
    font-size: 23px;
    position: relative;
    left: 43px;
    top: -35px;
}
.top__logo-text span{
    font-family: 'Raleway-Bold';
}
.info-date{
    margin-left: 20px;
}
.top-right{
    width: 393px;
    align-items: center;
    margin-top: 0;
    margin-right: 28px;
}
.top-right p{
    font-family: "Proxima Nova Light";
    font-size: 17px;
}
.top-right div>img{
    width: 36px;
    height: 36px;
}
.subtop-wrap{
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    -webkit-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
}
.subtop{
    align-items: center;
    margin: 0 28px;
    height: 50px;
    align-items: center;
}
.subtop-right{
    width: 365px;
}
.subtop-left a{
    color: #660080;
    font-family: "Proxima Nova Bold";
    font-size: 17px;
}
.subtop-left{
    width: 955px;
}
.subtop-item p{
    margin-left: 10px;
    font-family: "Proxima Nova Light";
    font-size: 17px;
}
.subtop-item span{
    font-family: "Proxima Nova Bold";
    font-size: 17px;
    margin-left: 4px;
}
.subtop-item img{
    height: 22px;
}
.info{
    width: 195px;
}
.bg-wrap{
    background: rgb(250, 250, 250);
    -webkit-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
}
.content{
    width: 1057px;
    padding-bottom: 20px;
}
.left-content{
    margin-top: 36px;
}
.title{
    margin-top: 27px;
    margin-left: -3px;
    max-width: 565px;
    font-family: Raleway-Light;
    font-size: 42px;
    line-height: 1em;
}
.share{
    margin-top: 23px;
}
.info-news img,
.info-date img{
    height: 16px;
}
.info-news a,
.info-date p{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    margin-left: 10px;
}
.news-link{
    color: #660080;
}
.share a{
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    color: #fff;
    padding: 15px 33px 12px 33px;
}
.share-at{
    background: rgb(102, 0, 128);
}
.share-fb{
    background: rgb(88, 98, 179);
}
.share-vk{
    background: rgb(103, 122, 160);
}
.text{
    width: 660px;
    margin-top: 56px;
}
.text p{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    line-height: 1.5em;
    margin-top: 31px;
}
.quotes{
    position: relative;
    background: #fff;
    border: 1px solid rgb(222, 222, 222);
    font-size: 17px;
    margin-left: -20px;
    padding: 36px;
    max-width: 628px;
    margin-top: 38px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(236,236,236,1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(236,236,236,1);
    box-shadow: 0px 4px 5px 0px rgba(236,236,236,1);
}
.quotes p{
    margin-top: 0;
}
.quotes:after{
    position: absolute;
    content: '';
    background: url(../img/quotes.png) no-repeat;
    background-size: contain;
    width: 34px;
    height: 27px;
    top: -14px;
    left: 20px;
}
.quotes span{
    font-family: "Proxima Nova Bold";
}
.quotes p{
    font-family: "Proxima Nova Light";
}
.tags{
    margin-top: 37px;
    align-items: center;
}
.tags span{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    margin-right: 5px;
}
.tag{
    padding: 10px;
    color: #660080;
    font-family: "Proxima Nova Light";
    font-size: 14px;
    background: #fff;
    margin: 0 5px;
    border: 1px solid rgb(222, 222, 222);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
    box-shadow: 0px 0px 5px 2px rgba(237,237,237,1);
}
.other{
    margin-top: 59px;
}
.other-title{
    font-family: Raleway-Bold;
    font-size: 23px;
    margin-bottom: 34px;
}
.other-link{
    margin-top: 12px;
    align-items: center;
}
.other-link a{
    margin-left: 10px;
}
.q{
    background-color: #08a1c7;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    transform: rotate(45deg);
    -webkit-box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
    -moz-box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
    box-shadow: 3px 3px 6px 0 rgba(228,228,228,1);
}
.other-link a{
    color: #08a1c7;
    font-family: "Proxima Nova Light";
    font-size: 17px;
}
.plug{
    margin-top: 40px;
    max-width: 700px;
}
#disqus_thread{
    margin-top: 34px;
    border: 1px solid rgb(222, 222, 222);
    padding: 20px;
    background: rgb(255, 255, 255);
    min-height: 481px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(237,237,237,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(237,237,237,1);
    box-shadow: 0px 3px 5px 0px rgba(237,237,237,1);
}
.ad_info-block{
    margin-top: 20px;
    align-items: center;
}
.m{
    margin-left: 7px;
    color: #08a1c7;
}
.ads{
    flex-wrap: wrap;
}
.ad{
    background: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 19px;
    border: 1px solid rgb(222, 222, 222);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(236,236,236,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(236,236,236,1);
    box-shadow: 0px 3px 5px 0px rgba(236,236,236,1);
}
/*.ad img{*/
    /*margin-bottom: 20px;*/
/*}*/
.ad_text{
    max-width: 300px;
    margin: auto;
    text-align: left;
    min-height: 81px;

}
.ad_title{
    font-family: "Proxima Nova Light";
    font-size: 22px;
    margin-top: 22px;
}
.ad_info{
    width: 105px;
}
.ad_info-block img{
    width: 16px;
    max-height: 14px;
}
.right-content--img{
    height: 292px;
    margin-top: 16px;
}
.right-content--img:last-of-type{
    margin-top: 8px;
    margin-bottom: -7px;
}
.ad_info-block span{
    font-family: "Proxima Nova Light";
}
.right-content .ad{
    padding: 0;
}
.right-content .ad .ad_info{
    margin-left: 20px;
    margin-bottom: 20px;
}
.left-img,
.right-img{
    margin-bottom: 9px;
}
.right-img{
    margin-top: 20px;
}
.banner{
    padding: 29px 0;
    text-align: center;
    background: url('../img/plug-bg.png') repeat;
}
.banner img{
    width: 90%;
    max-width: 820px;
}
.bottom-wrapper{
    background: #fff;
    border-top: 1px solid #dddddd;
    -webkit-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    -moz-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
    /* +++ shadow top&bottom*/
}
.bottom-images{
    width: 220px;
}
.bottom__logo{
    margin-top: 29px;
}
.bottom__links{
    width: 297px;
    margin-top: 7px;
}
.bottom__link-nav a{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    margin-left: 10px;
    color: #08a1c7;
}
.bottom__links img{
    width: 16px;
    height: 16px;
}
.bottom-left{
    margin-left: 28px;
    align-items: center;
    width: 484px;
}
.bottom__logo-img{
    width: 36px;
    height: 36px;
}
.bottom__logo-text{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    position: relative;
    left: 43px;
    top: -30px;
    margin-left: 18px;
}
.bottom-right{
    width: 222px;
    align-items: center;
    margin-top: 0;
    margin-right: 28px;
}
.bottom-right p{
    font-family: "Proxima Nova Light";
    font-size: 17px;
}
.bottom-right div>img{
    width: 36px;
    height: 36px;
}
#disqus_thread p{
    font-family: "Raleway-Bold" !important;
}
.none{
    display: none;
}
.start_img{
    width: 659px;
    margin-top: 21px;
}
.start_img + .text{
    margin-top: -11px;
}
.main__block{
    background: #fff;
    border: 1px solid rgb(222, 222, 222);
    padding: 20px;
    margin-top: 20px;
}
.main__block:first-child{
    margin-top: -17px;
}
.main__block .title{
    margin-top: 0;
}
.main__block .info-wrap{
    margin-top: 47px;
    flex-wrap: wrap;
}
.main__block .ad_info{
    margin-top: -2px;
    width: auto;
}
.main__block .ad_info .ad_info-block{
    margin-top: 0;
}
.main__block .ad_info .ad_info-block:last-of-type{
    margin-left: 20px;
}
.search{
    background: rgba(8, 161, 199, 1);
    text-align: center;
    margin-top: 19px;
}
.search-input{
    position: relative;
    width: 282px;
    margin: auto;
}
.search-input img{
    position: absolute;
    right: 0;
    height: 16px;
    width: 16px;
    top: 25px;
}
.search input{
    background: transparent;
    /*width: 282px;*/
    width: 100%;
    margin: 25px 0 30px 0;
    font-family: "Proxima Nova Light";
    font-size: 17px;
    outline: none;
    border: none;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(83, 189, 216, 0.5);
}
.search input::placeholder{
    color: rgba(255, 255, 255, 0.9);
    font-family: "Proxima Nova Light";
    font-size: 17px;
}
.show_news{
    width: 1057px;
    margin: auto;
    margin-bottom: 13px;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    background: rgba(8, 161, 199, 1);
}
.show_news img{
    height: 16px;
    width: 16px;
    margin-top: 3px;
}
.show_news p{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
}
.show-wrapper{
    margin: auto;
    width: 252px;
}
.ads .ad{
    min-height: 294px;
}
.error{
    margin: auto;
    margin-top: 58px;
    margin-bottom: 50px;
    text-align: center;
}
.error-img{
    width: 293px;
    height: 277px;
}
.error_title{
    font-family: Raleway-ExtraLight;
    font-size: 98px;
}
.error_text{
    font-size: 42px;
    font-family: Raleway-Light;
    margin-top: 22px;
}
.error_desc{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    max-width: 642px;
    margin-top: 15px;
}
.error_link img{
    width: 16px;
}
.error_links{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    width: 370px;
    margin: auto;
    margin-top: 33px;
}
.error_link a{
    margin-left: 10px;
}
.error_home{
    color: #660080;
}
.error_back{
    color: #08a1c7;
}
.error_link{
    display: flex;
    align-items: center;
}
.back img{
    height: 14px;
}
.map_vertical{
    flex-direction: column;
    margin-top: 67px;
}
ul{
    list-style: none;
    border-left: 2px solid rgba(219, 219, 219, 1);
    margin: 0 0 0 9px;
    padding-bottom: 40px;
}
li{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    color: rgba(166, 166, 166, 1);
    display: flex;
    align-items: center;
    padding-top: 20px;
}
li .q{
    background: rgba(166, 166, 166, 1);
    height: 10px;
    width: 10px;
    margin-right: 18px;
}
.map{
    margin: auto;
    margin-top: 71px;
    margin-bottom: 14px;
}
.map_vertical-link{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    color: #000;
}
.map_vertical-main img{
    height: 16px;
    margin-left: 2px;
}
.map__link .q{
    height: 12px;
    width: 12px;
}
.map__link a{
    margin-left: 20px;
    font-family: "Proxima Nova Light";
    font-size: 17px;
    color: #000;
}
.map__link{
    align-items: center;
}
.map_vertical-main{
}
.map_vertical-main a{
    font-family: "Proxima Nova Bold";
    font-size: 17px;
    color: #000;
    margin-left: 14px;
    margin-top: 3px;
}
.map_title{
    font-family: Raleway-Light;
    font-size: 42px;
}
.map_vertical-main ul{
    height: 40px;
}
.map_vertical-main ul li{
    text-indent: -9999999px;
}
.map_last{
    border: none;
}
.find{
    flex-wrap: wrap;
}
.find-content{
    width: 100%;
    /*margin-top: 36px;*/
}
.find-block{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(222, 222, 222, 1);
    padding: 20px 25px;
    width: 100%;
}
.find-block p{
    display: inline-block;
    font-family: "Proxima Nova Light";
    font-size: 14px;
    margin-left: 3px;
}
.response_text span{
    font-family: "Proxima Nova Bold";
}
.find-content .search .search-input{
    width: 998px;
}
.find_response{
    margin-top: 20px;
}
.response_title{
    font-family: Raleway-Light;
    font-size: 42px;
    margin-bottom: 5px;
}
.response_title span{
    color: #08a1c7;
}
.find-show{
    width: 150px;
}
.find-breadcrumbs a{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    color: #000;
    border-bottom: 14px solid transparent;
    padding-bottom: 4px;
    margin-right: 29px;
}

/*применить при табе*/
.active-result{
    border-color: #08a1c7;
}
.find-breadcrumbs a:first-child{
    font-family: "Proxima Nova Bold";
}
.find-breadcrumbs a:first-child span{
    font-family: "Proxima Nova Light";
}
.find-breadcrumbs a span{
    font-size: 14px;
    color: #a6a6a6;
}
.find-breadcrumbs{
    /*margin-top: 26px;*/
    padding: 20px 25px 0 25px;
    text-indent: 3px;
}
.result-img{
    width: 213px;
    height: 112px;
}
.find-result{
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(222, 222, 222, 1);
    border-bottom: none;
}
.find-result:last-of-type{
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}
.result a{
    font-family: "Proxima Nova Light";
    color: #a6a6a6;
    font-size: 14px;
}
.result a span{
    color: #08a1c7;
}
.result-title{
    font-family: "Proxima Nova Light";
    font-size: 17px;
    margin-top: 11px;
}
.result-text{
    font-family: "Proxima Nova Light";
    font-size: 14px;
    color: #a6a6a6;
    margin-top: 11px;
}
.result-text a{
    color: #08a1c7;
}
.result{
    margin-left: 29px;
    margin-top: 5px;
}
.res-id>span{
    font-family: "Proxima Nova Bold";
    font-size: 14px;
}
@media screen and (min-width: 1024px){
    .subtop-left{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 560px) and (max-width: 1024px){
    .call{
        width: 324px;
    }
    .call-2,
    .call-3,
    .call-4,
    .call-5,
    .call-6{
        width: 668px;
    }
    .top__links{
        display: none;
    }
    .top-right p{
        display: none;
    }
    .top-images{
        display: flex;
    }
    .burger{
        width: 27px;
        top: 43px;
        right: 0;
        position: absolute;
        background: #08a1c7;
        height: 4px;
        z-index: 20;
    }
    .burger-drop{
        display: none;
        position: absolute;
        width: 300px;
        background: #fff;
        left: -8px;
        top: 22px;
        z-index: 8;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
        -moz-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
        box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
    }

    .burger:before{
        content: '';
        width: 27px;
        background: #08a1c7;
        height: 4px;
        position: absolute;
        top: 12px;
    }
    .burger:after{
        content: '';
        width: 27px;
        background: #08a1c7;
        height: 4px;
        position: absolute;
        bottom: 12px;
    }
    .nav__mobile{
        background: #fff;
    }
    .nav__link{
        color: #08a1c7;
        font-size: 17px;
        margin-left: 32px;
        margin-right: 69px;
        font-family: 'Proxima Nova Condensed';
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;

    }
    .nav__link:hover{
        border-bottom: 2px solid #08a1c7;
    }
    .active-drop{
        border-bottom: 2px solid #08a1c7;
    }
    .nav-links{
        padding: 38px 115px 33px 0;
        flex-direction: column;
    }
    .nav_logo{
        margin-top: 29px;
        margin-left: 29px;
        height: 36px;
    }
    .subtop-left{
        max-width: 374px;
        overflow: hidden;
    }
    .right-content>img,
    .right-content .ad{
        display: none;
    }
    .subtop-left a{
        margin: 0 13px;
    }
    .subtop{
        position: relative;
        margin: 0;
        z-index: 2;
    }
    .subtop-item{
        width: 140px;
        align-items: center;
        margin-left: 7px;
    }
    .subtop-item:last-child{
        width: 170px;
    }
    .subtop-item p,
    .subtop-item span{
        font-size: 14px;
    }
    .subtop-item p {
        margin-left: 5px;
    }
    .left-content{
        margin: 113px auto auto auto;
        /*overflow: hidden;*/
    }
    .search{
        position: absolute;
        top: 284px;
        width: 690px;
    }
    .search-input{
       width: 668px;
    }
    .content{
        flex-wrap: wrap;
        width: 688px;
        padding-bottom: 5px;
    }
    .top-right{
        margin: auto;
        z-index: 3;
    }
    .top-left{
        width: 228px;
        margin-left: 0;
    }
    .top{
        position: relative;
        width: 668px;
        margin: auto;
        height: 90px;
    }
    .title{
        max-width: 100%;
    }
    .share{
        width: 688px;
        margin-left: -10px;
    }
    .share a {
        padding: 15px 29px 12px 29px;
    }
    #disqus_thread{
        min-height: auto;
        width: 648px;
        margin-left: -10px;
    }
    .plug{
        max-width: 693px;
        margin-left: -11px;
    }
    .ads{
        width: 688px;
        margin-left: -10px;
    }
    .ad{
        max-width: 294px;
    }
    .left-img{
        width: 295px;
    }
    .banner-last{
        margin-top: 10px;
    }
    .bottom__links{
        display: none;
    }
    .right-content .ad:last-child .ad_info{
        margin-bottom: 19.5px;
    }
    .start_img {
        width: 647px;
    }
    .main__block{
        margin-top: 20px;
        width: 647px;
        margin-left: -10px;
    }
    .text p{
        max-width: 625px;
    }
    .show_news {
        width: auto;
        margin-top: 20px;
    }
    .map_title{
        font-size: 35px;
    }
    .map_vertical-main ul {
        height: 25px;
    }
    .find-content .search .search-input{
        width: 668px;
    }
    .find-breadcrumbs a{
        font-size: 15px;
    }
    .find-breadcrumbs{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 560px) {
    html {
        -webkit-text-size-adjust: none;
        overflow-x: hidden;
    }
    .bg-wrap{
        overflow: hidden;
        margin-top: 85px;
    }
    .banner{
        overflow: hidden;
        padding: 10px 0;
    }
    .banner-last{
        -webkit-box-shadow: inset 0px -4px 5px 0px rgba(234,234,234,1);
        -moz-box-shadow: inset 0px -4px 5px 0px rgba(234,234,234,1);
        box-shadow: inset 0px -4px 5px 0px rgba(234,234,234,1);
    }
    .banner img {
        width: 264%;
        max-width: none;
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    .call{
        width: 135px;
    }
    .call-2,
    .call-3,
    .call-4,
    .call-5,
    .call-6{
        width: 280px;
    }
    .top__links{
        display: none;
    }
    .top-right p{
        display: none;
    }
    .top-images{
        display: flex;
    }
    .burger{
        width: 27px;
        top: 42px;
        right: 0;
        position: absolute;
        background: #08a1c7;
        height: 4px;
        z-index: 20;
    }
    .burger-drop{
        display: none;
        position: absolute;
        width: 300px;
        background: #fff;
        left: -8px;
        top: 22px;
        z-index: 8;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
        -moz-box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
        box-shadow: 0px 0px 5px 5px rgba(241,241,241,1);
    }

    .burger:before{
        content: '';
        width: 27px;
        background: #08a1c7;
        height: 4px;
        position: absolute;
        top: 12px;
    }
    .burger:after{
        content: '';
        width: 27px;
        background: #08a1c7;
        height: 4px;
        position: absolute;
        bottom: 12px;
    }
    .nav__mobile{
        background: #fff;
    }
    .nav__link{
        color: #08a1c7;
        font-size: 17px;
        margin-left: 32px;
        margin-right: 69px;
        font-family: 'Proxima Nova Condensed';
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;

    }
    .nav__link:hover{
        border-bottom: 2px solid #08a1c7;
    }
    .active-drop{
        border-bottom: 2px solid #08a1c7;
    }
    .nav-links{
        padding: 38px 115px 33px 0;
        flex-direction: column;
    }
    .nav_logo{
        margin-top: 29px;
        margin-left: 29px;
        height: 36px;
    }
    .subtop-left{
        display: none;
    }
    .right-content>img,
    .right-content .ad{
        display: none;
    }
    .subtop{
        position: relative;
        margin: 0;
        z-index: 2;
    }
    .subtop-right{
        margin: auto;
    }
    .subtop-item{
        width: 140px;
        align-items: center;
        margin-left: 7px;
    }
    .subtop-item:last-child{
        width: 170px;
    }
    .subtop-item p,
    .subtop-item span{
        font-size: 14px;
    }
    .subtop-item p {
        margin-left: 5px;
    }
    .subtop:after{
        content: '';
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 84px;
        background: #fff;
        border-bottom: 1px solid #dedede;
        -webkit-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
        -moz-box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
        box-shadow: inset 0px 4px 5px 0px rgba(241,241,241,1);
        z-index: 1;
        top: 51px;
    }
    .left-content{
        margin: 20px auto auto auto;
        /*overflow: hidden;*/
    }
    .content{
        flex-wrap: wrap;
        width: 300px;
        padding-bottom: 5px;
    }
    .top-right{
        position: absolute;
        top: 172px;
        left: -54px;
        justify-content: center;
        margin: auto;
        z-index: 3;
    }
    .top-left{
        width: inherit;
        margin-left: 0;
    }
    .top{
        position: relative;
        width: 280px;
        margin: auto;
    }
    .info-wrap{
        width: 300px;
        margin: auto;
    }
    .title{
        font-size: 28px;
    }
    .share{
        width: 300px;
        flex-wrap: wrap;
        margin-left: -10px;
    }
    .share-at{
        width: 100%;
        margin-bottom: 10px;
    }
    .share a{
        text-align: center;
    }
    .share-fb{
        width: 26%;
    }
    .share-vk{
        width: 26%;
    }
    .text{
        width: 300px;
        margin-top: 30px;
    }
    .text p{
        width: 280px;
        margin: 27px auto auto auto;
        font-size: 14px;
    }
    .right-content--img {
        display: inline-block;
        height: auto;
        margin-left: -10px;
    }
    .quotes{
        padding: 16px;
        margin-left: -17px;
    }
    .tags{
        margin-top: 27px;
    }
    .other{
        margin-top: 30px;
    }
    .other-title{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .other-link{
        display: inline-block;
    }
    .other-link a{
        font-size: 14px;
        display: inline-block;
        margin-left: 25px;
        margin-top: -16px;
    }
    .plug{
        margin-top: 30px;
        width: 264%;
        max-width: none;
    }
    .plug-wrap{
        margin-left: -10px;
    }
    .quotes p{
        font-size: 14px;
    }
    #disqus_thread{
        min-height: auto;
        padding: 8px;
        width: 281px;
        margin-left: -9px;
        margin-top: 5px;
    }
    .ads{
        width: 290px;
        flex-wrap: wrap;
    }
    .ad{
        width: auto;
        margin-left: -10px;
        padding: 10px;
        margin-top: 10px;
    }
    .ad_title{
        font-size: 17px;
    }
    .ad_info-block span{
        font-size: 14px;
    }
    .ad_info-block{
        margin-top: 34px;
    }
    .bottom__links{
        display: none;
    }
    .bottom{
        width: 270px;
        margin: auto;
        margin-top: 10px;
        flex-wrap: wrap;
        min-height: 170px;
        text-align: center;
        position: relative;
    }
    .bottom-images{
        position: absolute;
        top: 10px;
        width: 100%;
        left: 0;
    }
    .bottom__logo{
        position: absolute;
        bottom: 0;
    }
    .bottom-left{
        width: auto;
    }
    .bottom__logo-img{
        margin-left: 90px;
        position: relative;
        top: -10px;
    }
    .bottom__logo-text {
        position: relative;
        left: 42px;
        top: -84px;
        margin-left: 10px;
    }
    .bottom-wrapper{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main__block .text p{
        width: 276px;
        margin: 27px 0 0 0;
    }
    .main__block{
        padding: 10px;
        margin-top: 125px;
        width: 279px;
        margin-left: -10px;
    }
    .main__block .ad_info{
        margin: 20px 5px 15px 2px;
    }
    .show_news {
        width: auto;
        margin-top: 20px;
    }
    .main__block .info-wrap {
        margin-top: 30px;
    }
    .map_vertical-main a,
    .map_vertical-link{
        font-size: 15px;
    }
    .map_title {
        font-size: 27px;
    }
    ul{
        padding-bottom: 20px;
    }
    .map_vertical-main ul {
        height: 20px;
    }
    .map_vertical{
        margin-top: 50px;
    }
    .error-img {
        transform: scale(0.75);
    }
    .error{
        margin-top: 0;
        max-width: 300px;
    }
    .error_desc{
        max-width: 300px;
        margin: auto;
        font-size: 15px;
    }
    .error_links{
        position: relative;
        justify-content: center;
        max-width: 300px;
        font-size: 15px;
    }
    .home{
        position: absolute;
        top: 40px;
    }
    .error_text{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .error_title{
        font-size: 68px;
    }
    .find-result{
        flex-wrap: wrap;
    }
    .result-img{
        margin: auto;
    }
    .res-id{
        width: 90%;
    }
    .find-breadcrumbs{
        display: flex;
        flex-wrap: wrap;
    }
    .find-content .search .search-input{
        width: 280px;
    }
    .response_title{
        font-size: 28px;
    }
    .search{
        position: absolute;
        top: 353px;
        width: 300px;
    }
    .search-input{
        width: 280px;
    }
}